@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
  font-family: "Mulish-Bold";
  src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Mulish-ExtraBold";
  src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
}

body{
  font-family: "Mulish";
  font-weight: 400;
  color: #303757;
}
header{
  padding-top: 64px;
  padding-bottom: 20px;
}
h1{
  font-family: "Mulish-Bold";
  color: #303757;
  font-size: 45px;
}
p{
  color: rgba(48, 55, 87, 0.56);
  font-size: 19px;
}
a{
  color: #0088cb;
  text-decoration: none;

}
a:hover{
  color: #0072aa;
}
td{
  color: #303757;
}
.logo{
  font-family: "Mulish-Bold";
  color: #303757;
  font-size: 19px;
  line-height: 32px;
  font-weight: 900;
  height: 32px;
  position: relative;
}
.logo svg{
  height: 32px;
  margin-right: 12px;
  float: left;
}

.logo-diamond {
  transform-origin: center bottom;
}

.logo:hover .logo-diamond {
  animation-duration: 1s;
  animation-name: rotate;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-5deg) scale(1.01);

  }
  75% {
    transform: rotateZ(5deg) scale(1.01);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.nav-pills{
  font-family: "Mulish-Bold";
}
.nav-link{
  color: #0088cb;
  transition: .3s;
  -webkit-transition: .3s;
}
.nav-link.active:hover{
  background-color: #0072aa!important;
}
.nav-link:focus, .nav-link:hover{
  color: #0072ab;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #0088cb;
}
.btn-primary{
  background-color: #0088cb;
  border: 0;
  transition: .3s;
  -webkit-transition: .3s;
  border-radius: 24px;
  height: 48px;
  line-height: 48px;
  padding: 0 15px;
  font-family: "Mulish-Bold";
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background-color: #0072aa;
  outline: 0;
  box-shadow: none!important;
  border: 0;
}
.header-content{
  margin-top: 32px;
}
.container{
  max-width: 1400px;
} 

.header-tagline{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.header-tagline .btn{
  width: 160px;
  float:right;
}
.header-tagline > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.btn-outline{
  color: #303757;
}
.btn-outline:focus, .btn-outline:active{
    outline: 0;
    box-shadow: none;
}
.explorer{
  margin-bottom: 64px;
}
.explorer h1{
  margin: 64px 0;
}
.form-control:focus{
  box-shadow: none;
}
footer .container{
  height: 128px;
  align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    right: 12px;
    height: 1px;
    background: #888888;
    opacity: .32;
}

footer{
  padding: 64px 0;
}
tbody tr{
  border-top: 1px solid #e7eaf3;
}

.bubble{
  background-image: url("../images/most_important_part.png");
  height: 35px;
  width: 280px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.address-container{
  margin-top: 42px;
}
.qrcode{
  flex: 0 0 200px;
  text-align: center;
  position: relative;
}
.qrcode img {
  width: 200px;
}

.account-list{
  margin-bottom: 0;
}
.account-list dt{
  font-family: "Mulish-Bold";
  line-height: 28px;
  padding-left: 12px;
  padding-right: 0;
}

.account-list dd{
  margin: 0;
  line-height: 28px;
  padding-left: 24px;
  padding-right: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;

}

.account-list span{
  cursor: pointer;
}

.btn-api{
  padding: 0 15px;
  height: 25px;
  font-size: 11px;
  line-height: 25px;
}
.history-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 64px 0 64px;
}
.history-header h2{
  margin: 0;
  font-family: "Mulish-Bold";
}
.history-header a{
  color: #0088cb;
  line-height: 38px;
  text-decoration: none;
}
.history-header a:hover{
  text-decoration: underline;
}
.table>:not(:last-child)>:last-child>*{
  border-bottom: 0;
}
.table-responsive {
  overflow-y: hidden;
}
.table-responsive th{
  color: #303757;
  font-size: 18px;
  font-family: "Mulish-Bold";
}
.table-responsive td div{
  color: #0088cb;
}
.colla {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px;
}

.table>:not(caption)>*>*{
  padding: .625rem;
}
.table-responsive tbody tr:hover {
  background-color: rgba(231,234,243,.4);
}
.hidden{
  display: none;
}
#address, #hash{
  border:0;
  height: 1px;
  opacity:0;
}
.badge{
  height: 25px;
  width: 40px;
  float:left;
  padding: 0;
  line-height: 25px;
  font-family: "Mulish-Bold";
}
.badge.bg-success{
  color: #02977e;
  background-color: rgba(0,201,167,.2)!important;
}
.badge.bg-danger{
  color: #ec6471;
  background-color: rgba(155, 82, 89, 0.18)!important;
}
.page-link{
  color: #0088ca;
  width: 120px;
  text-align: center;
  border-radius: .25rem;
  margin-top: 24px;
  display: inline-block;
}
.pagination{
  justify-content: flex-end;
}
.page-link:focus, .page-link:active{
  box-shadow: none;
}
.api{
  margin-top: 44px;
}
.api h1  p{
    font-family: "Mulish";
    font-size: 16px;
}

.api h2{
    margin: 40px 0;
    color: #2f3757;
}

.text-monospace{
  background-color: rgba(27,31,35,.05);
    border-radius: 6px;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
}
.api table{
  color: #2f3757;
}

.testnet:after{
  content: "testnet";
  color: #ec6471;
  position: absolute;
  font-size: 11px;
  right: 0;
  bottom: -15px;
  font-family: "Mulish";

}
.qrcode canvas{
  width:200px;
  position: absolute;
  left: 12px;
  top: 0;
}
.block-header{
  margin-bottom: 64px;
}
.block-header h1{
  font-size: 45px;
  font-family: 'Mulish';
  margin-bottom: 0;
  width: 240px;
    display: inline-block;
    float: left;
}

.block-btn{
  margin-left: 15px;
  cursor: default;
  height: 34px;
  line-height: 34px;
  margin-bottom: 9px;
}
.block-btn:hover, .block-btn:active{
  background-color: #0088cb;
}
.page-arrow.up, .page-arrow.down{
  border:0;
  height: 34px;
  padding: 2px;
  margin-top:12px;

  display:inline-block;
}
.page-arrow svg{
  height: 16px;
}
.page-arrow path{
  fill: #0088cb;
  transition: .3s;
  -webkit-transition: .3s;
}
.page-arrow.up svg{
  transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
}

.page-arrow.down svg{
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.loadmore{
  display: inline-block;
  margin-top: 12px;
  margin-left: 2px;
}
.page-arrow:hover{
  color: #0072ab;
  background: none;
}

.page-arrow:hover path{
  fill: #303757;
}

.copy img{
  margin-left: 4px;
}

.page-link:hover, .page-link:active, .page-link:focus{
  color: #0088cb;
}
.js-form-select {
	 position: relative;
	 display: flex;
	 width: 180px;
	 height: 48px;
	 margin: 0 auto;
	 z-index: 1;
}
.form-select-label {

  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
 .js-form-select[data-state="active"] .form-select-title::before {
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
	 transform: translate3d(-3px, -50%, 0) rotate(-45deg);
   -moz-transform: translate3d(-3px, -50%, 0) rotate(-45deg);
   -ms-transform: translate3d(-3px, -50%, 0) rotate(-45deg);
   -webkit-transform: translate3d(-3px, -50%, 0) rotate(-45deg);
   -o-transform: translate3d(-3px, -50%, 0) rotate(-45deg);
}
 .js-form-select[data-state="active"] .form-select-title::after {
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
	 transform: translate3d(3px, -50%, 0) rotate(45deg);
   -moz-transform: translate3d(3px, -50%, 0) rotate(45deg);
   -ms-transform: translate3d(3px, -50%, 0) rotate(45deg);
   -webkit-transform: translate3d(3px, -50%, 0) rotate(45deg);
   -o-transform: translate3d(3px, -50%, 0) rotate(45deg);
}
 .js-form-select[data-state="active"] .form-select-content {
	 border-width: 1px;
	 border-color: rgba(199, 204, 209, 1);
}
 .js-form-select[data-state="active"] .form-select-label {
	 max-height: 40px;
	 border-width: 1px;
}
 .js-form-select[data-state="active"] .form-select-label::before {
	 opacity: 1;
}
 .form-select-title {
	 display: flex;
	 align-items: center;
	 width: 100%;
	 height: 100%;
	 padding: 8px 16px;
	 border-radius: .25rem;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
	 border: solid 1px #ced4da;
	 cursor: pointer;
	 z-index: 2;
   color: #303757;
}
 .form-select-title::before, .form-select-title::after {
	 content: "";
	 position: absolute;
	 top: 50%;
	 right: 16px;
	 display: block;
	 width: 10px;
	 height: 2px;
	 transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
	 background-color: #303757;
	 transform: translate(-3px, -50%) rotate(45deg);
   -moz-transform: translate(-3px, -50%) rotate(45deg);
   -ms-transform: translate(-3px, -50%) rotate(45deg);
   -webkit-transform: translate(-3px, -50%) rotate(45deg);
   -o-transform: translate(-3px, -50%) rotate(45deg);
}
 .form-select-title::after {
   transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
	 transform: translate(3px, -50%) rotate(-45deg);
   -moz-transform: translate(3px, -50%) rotate(-45deg);
   -ms-transform: translate(3px, -50%) rotate(-45deg);
   -webkit-transform: translate(3px, -50%) rotate(-45deg);
   -o-transform: translate(3px, -50%) rotate(-45deg);
}
  .js-form-select[data-state="active"] .form-select-title,.form-select-title:hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
	 border-color: #0088cb;
}
.js-form-select[data-state="active"] .form-select-title::before,  .js-form-select[data-state="active"] .form-select-title::after, .form-select-title:hover::before, .form-select-title:hover::after {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
   background-color: #0088cb;
}


 .form-select-content {
	 position: absolute;
	 top: 48px;
	 left: 0;
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 background-color: #fff;
	 transition: all 0.3s ease-out;
   -webkit-transition: all 0.3s ease-out;
	 z-index: 1;
   box-shadow: 0 6px 20px rgba(5,9,49,.1);
   border-radius: 8px;
   border-top-left-radius: .25rem;
   border-top-right-radius: .25rem;
}
 .form-select-input {
	 display: none;
	 pointer-events: none;
}
 .form-select-input:checked + label {
	 /*background-color: #dedede;*/
}
 .form-select-input:checked + label::after {
	 content: attr(data-value);
}
 .form-select-input:disabled + label {
	 opacity: 0.6;
	 pointer-events: none;
}
 .form-select-label {
	 display: flex;
	 align-items: center;
	 width: 100%;
	 height: 48px;
	 max-height: 0;
	 padding: 0 16px;
	 transition: all 0.2s ease-out;
   -webkit-transition: all 0.2s ease-out;
	 cursor: pointer;
}

 .form-select-label:hover {
	 background-color: rgba(231,234,243,.4) !important;
}
 .form-select-content label:last-child{
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
 }

 .form-select-label::before {
	 content: attr(data-value);
	 transition: all 0.1s ease-out;
   -webkit-transition: all 0.1s ease-out;
	 opacity: 0;
}
 .form-select-label::after {
	 position: absolute;
	 top: -48px;
	 left: 0;
	 display: flex;
	 align-items: center;
	 width: 200px;
	 height: 48px;
	 padding: 8px 16px;
	 color: #303757;
	 z-index: -1;
}

.hidden{
  display: none;
}
.form-control{
  color: #303757;
}

.form-control:focus{
  border-color: #0088cb;
}

.form-select-label:focus, .form-select-label:active{
  outline: none!important;
  box-shadow: 0!important;
}
.text-center{
  text-align: center;
}
.table-responsive[data-hash] + .loadmore{
  display: block;
}
.pagination-block{
  display: none;
}



.animated {
  opacity: 0;
  transition: opacity 0.5s ease-out;
    border-color: #fff;
}

.animated-show{
  opacity: 1;
  border-color: #e7eaf3;
}

@media only screen and (max-width: 600px)  {
  .bubble{
    width: 180px;
  }
  .explorer{
    margin-bottom: 0;
  }
  h1{
    font-size: 40px;
  }
  .coding{
    width: 100%;
  }
  .container{
    padding: 24px;
  }
  .account-list{
    padding: 0 12px;
  }
  .account-list dd, .account-list dt{
    padding-left: 0;
    font-size: 4vw;

  }
  .account-list dd{
    font-size: 2.7vw;
    line-height: 16px;
  }
  .account-list dd small{
    font-size: 2vw;
  }
  .history-header{
    flex-direction: column;
  }
  .address-container > div{
    justify-content: center;
  }
  .qrcode{
    margin-bottom: 64px;
  }
  .small, small{
    font-size: 2.7vw;

  }
  .table>:not(caption)>*>*{
    padding: 5px;
    height: 5.5vw;
    line-height: 5.5vw;
  }
  .table td{
    font-size: 3vw;
    line-height: 5.5vw;
  }
  .badge{
    height: 5.5vw;
    line-height: 5.5vw;
  }

.jsSelect{
  flex: auto;
  width:100%;
}
.js-form-select {
  width: 100%;
  margin-bottom: 24px;
}
.form-select-title{
   border-top-right-radius: .25rem;
   border-bottom-right-radius: .25rem;
 }
 .input-group .btn{
   z-index: 0;
   margin-top: 24px;
  width: 100%;
  border-top-left-radius: 24px!important;
  border-bottom-left-radius: 24px!important;
 }
 .form-control{
   height: 48px;
   border-radius: .25rem!important;
 }

}
